@mixin vp-1919 {
  @media (max-width: 1919px) {
    @content;
  }
}

@mixin vp-1439 {
  @media (max-width: 1439px) {
    @content;
  }
}

@mixin vp-1023 {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin vp-500 {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin vp-374 {
  @media (max-width: 374px) {
    @content;
  }
}

$tf-default: ease;
$trans-default: 0.3s $tf-default;
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600: 0.6s $tf-default;

*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

@font-face {
  font-family: 'Aldrich';
  font-style: normal;
  font-weight: 400;

  src: url('../fonts/Aldrich-Regular.woff2') format('woff2'),
    url('../fonts/Aldrich-Regular.woff') format('woff');
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Aldrich', 'Arial', sans-serif;
  color: #fff;
  font-weight: 400;
  line-height: 1.2;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1d1d1f;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background: url('../img/orange-black-gradient.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding-bottom: 280px;
  border-bottom: 20px solid #74467a;

  &_imageBlock {
    position: absolute;
    left: 72px;
    top: 116px;
    z-index: 1;
  }

  &_imageRound {
    position: absolute;
    z-index: 2;
    //animation: round 5s linear infinite;
  }

  @keyframes round {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  &_imageTabl {
    position: absolute;
    z-index: 3;
    top: 320px;
    left: 80px;
    //animation: tabl 5s linear infinite;
  }

  @keyframes tabl {
    0% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(80deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

  &_imageBalls {
    position: absolute;
    z-index: 4;
    left: 165px;
    top: 175px;

    //animation: balls 5s linear infinite;
  }

  @keyframes balls {
    0% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(-120deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

  &_block {
    align-self: flex-end;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 135px;
    padding-right: 135px;
    width: 100%;
    max-width: 1015px;

    @include vp-1023 {
      min-height: 700px;
    }

    @include vp-767 {
      padding-left: 16px;
      padding-right: 16px;
      min-height: initial;
      padding-bottom: 60px;
    }
  }

  &_buttons {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 100px;

    a {
      display: flex;
      width: 80px;
      height: 80px;
      justify-content: center;
      align-items: center;
      border-radius: 11.154px;
      border: 2.231px solid #a285d7;
      box-shadow: 0px 0px 20px 0px rgba(17, 255, 68, 0.4);
      transition: $trans-default;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  &_title {
    margin-top: 220px;
    color: #fff;
    text-align: center;
    font-size: 125px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -2.5px;

    @include vp-1023 {
      font-size: 45px;
      margin-top: 60px;
    }

    @include vp-767 {
      margin-top: 30px;
      font-size: 30px;
    }
  }

  &_description {
    margin-top: 106px;
    color: #fff;
    text-align: right;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 1.4px;
    text-transform: uppercase;

    @include vp-1023 {
      margin-top: 40px;
      font-size: 50px;
    }

    @include vp-767 {
      font-size: 35px;
      line-height: normal;
    }
  }

  &_link {
    display: flex;
    width: 528px;
    height: 83px;
    padding: 20px 20px;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    border-radius: 10px;
    border: 1px solid #fff;
    background: #6b3e79;
    transition: $trans-default;
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;

    @include vp-1023 {
      margin-top: 60px;
      font-size: 20px;
    }

    @include vp-767 {
      width: 100%;
      padding: 20px 5px;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      opacity: 0.6;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 42px;
  padding: 0 30px;
  color: #fff;
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 1.4px;
  text-transform: uppercase;

  @include vp-1023 {
    margin-top: 0;
  }

  @include vp-767 {
    padding: 0 16px;
  }

  &_title {
    margin: 0;
    margin-top: 101px;
    font-size: 35px;
  }

  &_text {
    font-size: 35px;
    text-align: center;
    width: 100%;
    max-width: 1177px;
  }

  &_subTitle {
    margin-top: 40px;
  }
}

.frames {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 37px;
  width: 100%;
  padding-bottom: 400px;

  &_bg {
    position: absolute;
    width: 100%;
    z-index: 2;
    height: auto;
    top: 1000px;
  }

  &_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    margin-top: -80px;
    padding: 0;
    width: 100%;
    max-width: 1609px;
  }

  &_item {
    position: relative;
    z-index: 3;
    display: flex;
    width: 100%;
    margin-top: 80px;
    padding: 79px 150px;
    align-items: center;
    border-radius: 50px;
    opacity: 0.8;
    background: linear-gradient(180deg, #b2b2b2 0%, #2d2a4b 100%);
    box-shadow: 0px 3.2px 3.2px 0px rgba(0, 0, 0, 0.1);
    color: #000;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 1.6px;
    text-transform: uppercase;

    &--small {
      padding: 70px 60px;
    }
  }

  &_left,
  &_right {
    width: calc((100% / 2) - 87px);
  }
}

.team {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
  width: 100%;
  overflow: hidden;

  &_title {
    width: 100%;
    max-width: 1609px;
    margin: 0 auto;
    color: #fff;
    text-align: left;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include vp-1023 {
      font-size: 40px;
    }

    @include vp-767 {
      font-size: 30px;
    }
  }

  &_section {
    width: 100%;
    min-height: 2000px;
    background: #313131;
    margin-top: 120px;
    padding-bottom: 120px;
  }

  &_textWrapper {
    margin-top: 220px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1474px;
  }

  &_description {
    color: #fff;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 1.6px;
    text-transform: initial;
  }

  &_link {
    display: flex;
    width: 530px;
    height: 83px;
    padding: 20px 20px;
    align-items: center;
    justify-content: center;
    margin-top: 202px;
    border-radius: 10px;
    border: 1px solid #fff;
    background: #6b3e79;
    transition: $trans-default;
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
    text-transform: initial;

    @include vp-1023 {
      margin-top: 60px;
      font-size: 20px;
    }

    @include vp-767 {
      width: 100%;
      padding: 20px 5px;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  &_text {
    margin-top: 60px;
    margin-bottom: 0;
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 1.6px;
  }

  &_subtitle {
    align-self: center;
    margin-top: 160px;
    margin-bottom: 100px;
    text-align: center;
    color: #fff;
    text-align: center;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
  }

  &_imgWrapper {
    position: relative;
    left: -1021px;
    top: -117px;
  }

  &_imgRound {
    position: absolute;
    top: 332px;
    left: 254px;

    transform: rotate(29deg);

    //animation: roundTeam 3s linear infinite;
  }

  @keyframes roundTeam {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(60deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  &_imgBlock {
    position: absolute;
    right: -1984px;
    top: -876px;
    //animation: blockTeam 3s linear 1s infinite;
  }

  @keyframes blockTeam {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(30deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  &_bottom {
    margin-top: -270px;
  }
}

.roadmap {
  position: relative;
  width: 100%;
  background: #1d1d1f;
  min-height: 3000px;
  padding-bottom: 89px;

  &_line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 100%;
    background: #74467a;
  }

  &_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, max-content);
    row-gap: 200px;
    list-style: none;
    height: 100%;
    padding: 139px 80px;
  }

  &_left {
    display: flex;
    justify-content: flex-end;
    padding-right: 120px;
  }

  &_right {
    display: flex;
    justify-content: flex-start;
    position: relative;
    padding-left: 120px;
  }

  &_iconPlus {
    position: absolute;
    top: 0;
    left: -70px;
  }

  &_iconBlock {
    position: absolute;
    top: 0;
    left: -60px;
  }

  &_stage {
    position: relative;
    color: #fff;
    text-align: right;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
  }

  &_description {
    position: relative;
    color: #fff;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px;
    text-transform: uppercase;

    &--left {
      text-align: right;
    }
  }
}

.footer {
  padding-bottom: 26px;
  width: 100%;
  min-height: 20px;
  background: url('../img/footer-bg.png');
  background-size: cover;
  background-repeat: no-repeat;

  @include vp-1439 {
    margin-top: 200px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @include vp-1023 {
    margin-top: 150px;
  }

  @include vp-767 {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 70px;
  }

  &_container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 0 30px;
    padding-left: 200px;
    max-width: 1826px;
    justify-content: space-between;
    margin: 0 auto;

    @include vp-1439 {
      justify-content: space-between;
      gap: 0;
    }

    @include vp-1023 {
      flex-direction: column;
      justify-content: initial;
      align-items: center;
    }
  }

  &_logo {
    position: absolute;
    z-index: 3;
    top: -115px;
    left: 0;
  }

  &_title {
    display: block;
    position: relative;
    z-index: 2;
    margin-top: 120px;
    margin-bottom: 0;
    color: #fff;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    @include vp-767 {
      font-size: 35px;
      margin-bottom: 0;
    }
  }

  &_description {
    margin-top: -10px;
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;

    @include vp-767 {
      margin-top: 15px;
      font-size: 20px;
      line-height: normal;
    }
  }

  &_social {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    @include vp-1023 {
      margin-top: 40px;
    }

    @include vp-767 {
      margin-top: 15px;
      flex-wrap: wrap;
      justify-content: center;
      gap: 5px;
    }
  }

  &_socialLabel {
    color: #fff;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  &_socialList {
    display: flex;
    gap: 30px;
  }

  &_socialItem {
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #9747e7;
    box-shadow: 0px 0px 5px 0px rgba(17, 255, 68, 0.4);
    transition: $trans-default;

    &:hover {
      opacity: 0.6;
    }
  }
}
