*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

@font-face {
  font-family: "Aldrich";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Aldrich-Regular.woff2") format("woff2"), url("../fonts/Aldrich-Regular.woff") format("woff");
}
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Aldrich", "Arial", sans-serif;
  color: #fff;
  font-weight: 400;
  line-height: 1.2;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1d1d1f;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background: url("../img/orange-black-gradient.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding-bottom: 200px;
  border-bottom: 20px solid #74467a;
}
.header_imageBlock {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.header_imageRound {
  position: absolute;
  z-index: 2;
  animation: round 5s linear infinite;
}
@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header_imageTabl {
  position: absolute;
  z-index: 3;
  top: 320px;
  left: 80px;
  animation: tabl 5s linear infinite;
}
@keyframes tabl {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(80deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.header_imageBalls {
  position: absolute;
  z-index: 4;
  left: 220px;
  top: 160px;
}
@keyframes balls {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-120deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.header_block {
  align-self: flex-end;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 120px;
  padding-right: 120px;
  width: 100%;
  max-width: 960px;
}
@media (max-width: 1023px) {
  .header_block {
    min-height: 700px;
  }
}
@media (max-width: 767px) {
  .header_block {
    padding-left: 16px;
    padding-right: 16px;
    min-height: initial;
    padding-bottom: 60px;
  }
}
.header_buttons {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 100px;
}
.header_buttons a {
  display: flex;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  border-radius: 11.154px;
  border: 2.231px solid #a285d7;
  box-shadow: 0px 0px 20px 0px rgba(17, 255, 68, 0.4);
  transition: 0.3s ease;
}
.header_buttons a:hover {
  opacity: 0.6;
}
.header_title {
  margin-top: 190px;
  color: #fff;
  text-align: center;
  font-size: 125px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -2.5px;
}
@media (max-width: 1023px) {
  .header_title {
    font-size: 45px;
    margin-top: 60px;
  }
}
@media (max-width: 767px) {
  .header_title {
    margin-top: 30px;
    font-size: 30px;
  }
}
.header_description {
  margin-top: 124px;
  color: #fff;
  text-align: right;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
@media (max-width: 1023px) {
  .header_description {
    margin-top: 40px;
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  .header_description {
    font-size: 35px;
    line-height: normal;
  }
}
.header_link {
  display: flex;
  width: 546px;
  height: 83px;
  padding: 20px 20px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  border-radius: 10px;
  border: 1px solid #fff;
  background: #6b3e79;
  transition: 0.3s ease;
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.9px;
}
@media (max-width: 1023px) {
  .header_link {
    margin-top: 60px;
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .header_link {
    width: 100%;
    padding: 20px 5px;
    align-items: center;
    justify-content: center;
  }
}
.header_link:hover {
  opacity: 0.6;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 42px;
  padding: 0 30px;
  color: #fff;
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
@media (max-width: 1023px) {
  .description {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .description {
    padding: 0 16px;
  }
}
.description_title {
  margin: 0;
  font-size: 35px;
}
.description_subTitle {
  margin-top: 60px;
}

.frames {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  padding-bottom: 400px;
}
.frames_bg {
  position: absolute;
  width: 100%;
  z-index: 2;
  height: auto;
  top: 1000px;
}
.frames_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  margin-top: -70px;
  padding: 0;
  width: 100%;
  max-width: 1609px;
}
.frames_item {
  position: relative;
  z-index: 3;
  display: flex;
  width: 100%;
  margin-top: 70px;
  padding: 50px 150px;
  align-items: center;
  border-radius: 50px;
  opacity: 0.8;
  background: linear-gradient(180deg, #b2b2b2 0%, #2d2a4b 100%);
  box-shadow: 0px 3.2px 3.2px 0px rgba(0, 0, 0, 0.1);
  color: #000;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
.frames_item--small {
  padding: 70px 60px;
}
.frames_left, .frames_right {
  width: calc(50% - 87px);
}

.team {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
  width: 100%;
  overflow: hidden;
}
.team_title {
  width: 100%;
  max-width: 1609px;
  margin: 0 auto;
  color: #fff;
  text-align: left;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media (max-width: 1023px) {
  .team_title {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .team_title {
    font-size: 30px;
  }
}
.team_section {
  width: 100%;
  min-height: 2000px;
  background: #313131;
  margin-top: 120px;
  padding-bottom: 120px;
}
.team_textWrapper {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1609px;
}
.team_description {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 1.6px;
  text-transform: initial;
}
.team_link {
  display: flex;
  width: 546px;
  height: 83px;
  padding: 20px 20px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  border-radius: 10px;
  border: 1px solid #fff;
  background: #6b3e79;
  transition: 0.3s ease;
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.9px;
  text-transform: initial;
}
@media (max-width: 1023px) {
  .team_link {
    margin-top: 60px;
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .team_link {
    width: 100%;
    padding: 20px 5px;
    align-items: center;
    justify-content: center;
  }
}
.team_link:hover {
  opacity: 0.6;
}
.team_text {
  margin-top: 70px;
  margin-bottom: 0;
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 1.6px;
}
.team_subtitle {
  align-self: center;
  margin-top: 120px;
  text-align: center;
  color: #fff;
  text-align: center;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
.team_imgWrapper {
  position: relative;
  position: relative;
  left: -400px;
  top: -200px;
}
.team_imgRound {
  position: absolute;
  top: 450px;
  left: 0;
  animation: roundTeam 3s linear infinite;
}
@keyframes roundTeam {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.team_imgBlock {
  position: absolute;
  right: -1000px;
  top: -200px;
  animation: blockTeam 3s linear 1s infinite;
}
@keyframes blockTeam {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.team_bottom {
  margin-top: -300px;
}

.roadmap {
  position: relative;
  width: 100%;
  background: #1d1d1f;
  min-height: 3000px;
  padding-bottom: 300px;
}
.roadmap_line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 100%;
  background: #74467a;
}
.roadmap_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, max-content);
  row-gap: 200px;
  list-style: none;
  height: 100%;
  padding: 100px 80px;
}
.roadmap_left {
  display: flex;
  justify-content: flex-end;
  padding-right: 120px;
}
.roadmap_right {
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding-left: 120px;
}
.roadmap_iconPlus {
  position: absolute;
  top: 0;
  left: -70px;
}
.roadmap_iconBlock {
  position: absolute;
  top: 0;
  left: -60px;
}
.roadmap_stage {
  position: relative;
  color: #fff;
  text-align: right;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 75px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
.roadmap_description {
  position: relative;
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 75px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.roadmap_description--left {
  text-align: right;
}

.footer {
  padding-bottom: 83px;
  width: 100%;
  min-height: 260px;
  background: url("../img/footer-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 1439px) {
  .footer {
    margin-top: 200px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 1023px) {
  .footer {
    margin-top: 150px;
  }
}
@media (max-width: 767px) {
  .footer {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 70px;
  }
}
.footer_container {
  display: flex;
  align-items: flex-start;
  max-width: 1252px;
  gap: 200px;
  margin: 0 auto;
}
@media (max-width: 1439px) {
  .footer_container {
    justify-content: space-between;
    gap: 0;
  }
}
@media (max-width: 1023px) {
  .footer_container {
    flex-direction: column;
    justify-content: initial;
    align-items: center;
  }
}
.footer_title {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .footer_title {
    font-size: 35px;
    margin-bottom: 0;
  }
}
.footer_description {
  margin-top: 30px;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
@media (max-width: 767px) {
  .footer_description {
    margin-top: 15px;
    font-size: 20px;
    line-height: normal;
  }
}
.footer_social {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1023px) {
  .footer_social {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .footer_social {
    margin-top: 15px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }
}
.footer_socialItem {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #f1521f;
  box-shadow: 0px 0px 20px 0px rgba(17, 255, 68, 0.15);
  transition: 0.3s ease;
}
@media (max-width: 767px) {
  .footer_socialItem {
    transform: scale(0.7);
  }
}
.footer_socialItem:hover {
  opacity: 0.6;
}/*# sourceMappingURL=style.css.map */