*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

@font-face {
  font-family: "Aldrich";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Aldrich-Regular.woff2") format("woff2"), url("../fonts/Aldrich-Regular.woff") format("woff");
}
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Aldrich", "Arial", sans-serif;
  color: #fff;
  font-weight: 400;
  line-height: 1.2;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1d1d1f;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-bottom: 280px;
  border-bottom: 20px solid #74467a;
}
@media (max-width: 1023px) {
  .header {
    padding-bottom: 100px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 767px) {
  .header {
    padding-bottom: 50px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.header_imageBlock {
  position: absolute;
  left: 72px;
  top: 116px;
  z-index: 1;
}
@media (max-width: 1850px) {
  .header_imageBlock {
    left: initial;
    top: 20px;
    right: 700px;
  }
}
@media (max-width: 1439px) {
  .header_imageBlock {
    right: initial;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: auto;
  }
}
@media (max-width: 767px) {
  .header_imageBlock {
    position: static;
    margin: 0 auto;
    width: 100%;
    height: auto;
    transform: none;
  }
}
.header_imageRound {
  position: absolute;
  z-index: 2;
  animation: round 5s linear infinite;
}
@media (max-width: 1850px) {
  .header_imageRound {
    width: 400px;
    height: auto;
  }
}
@media (max-width: 767px) {
  .header_imageRound {
    width: 80%;
  }
}
@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header_imageTabl {
  position: absolute;
  z-index: 3;
  top: 320px;
  left: 80px;
  animation: tabl 5s linear infinite;
}
@media (max-width: 1850px) {
  .header_imageTabl {
    top: 160px;
    width: 500px;
    height: auto;
  }
}
@media (max-width: 767px) {
  .header_imageTabl {
    top: 100px;
    width: 80%;
  }
}
@keyframes tabl {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(80deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.header_imageBalls {
  position: absolute;
  z-index: 4;
  left: 165px;
  top: 175px;
}
@media (max-width: 1850px) {
  .header_imageBalls {
    width: 500px;
    height: auto;
  }
}
@media (max-width: 767px) {
  .header_imageBalls {
    left: 15%;
    width: 90%;
    position: relative;
  }
}
@keyframes balls {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-120deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.header_block {
  align-self: flex-end;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 135px;
  padding-right: 135px;
  width: 100%;
  max-width: 1015px;
}
@media (max-width: 1850px) {
  .header_block {
    padding: 0 60px;
    align-self: flex-start;
    align-items: flex-start;
    max-width: 800px;
  }
}
@media (max-width: 1439px) {
  .header_block {
    align-items: center;
    align-self: center;
  }
}
@media (max-width: 1023px) {
  .header_block {
    min-height: 700px;
  }
}
@media (max-width: 767px) {
  .header_block {
    padding-left: 0;
    padding-right: 0;
    min-height: initial;
    padding-bottom: 0;
  }
}
.header_buttons {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 100px;
}
@media (max-width: 1439px) {
  .header_buttons {
    margin-top: 700px;
  }
}
@media (max-width: 767px) {
  .header_buttons {
    margin-top: 200px;
  }
}
.header_buttons a {
  display: flex;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  border-radius: 11.154px;
  border: 2.231px solid #a285d7;
  box-shadow: 0px 0px 20px 0px rgba(17, 255, 68, 0.4);
  transition: 0.3s ease;
}
.header_buttons a:hover {
  opacity: 0.6;
}
.header_title {
  margin-top: 220px;
  color: #fff;
  text-align: center;
  font-size: 125px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -2.5px;
}
@media (max-width: 1850px) {
  .header_title {
    text-align: left;
  }
}
@media (max-width: 1439px) {
  .header_title {
    margin-top: 100px;
  }
}
@media (max-width: 1023px) {
  .header_title {
    font-size: 90px;
    margin-top: 60px;
  }
}
@media (max-width: 767px) {
  .header_title {
    margin-top: 50px;
    font-size: 60px;
  }
}
@media (max-width: 374px) {
  .header_title {
    font-size: 45px;
  }
}
.header_description {
  margin-top: 106px;
  color: #fff;
  text-align: right;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
@media (max-width: 1850px) {
  .header_description {
    text-align: left;
  }
}
@media (max-width: 1439px) {
  .header_description {
    text-align: center;
    margin-top: 70px;
  }
}
@media (max-width: 1023px) {
  .header_description {
    margin-top: 40px;
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .header_description {
    font-size: 25px;
    line-height: 1.3;
  }
}
.header_link {
  display: flex;
  width: 528px;
  height: 83px;
  padding: 20px 20px;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  border-radius: 10px;
  border: 1px solid #fff;
  background: #6b3e79;
  transition: 0.3s ease;
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.9px;
}
@media (max-width: 1023px) {
  .header_link {
    margin-top: 60px;
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .header_link {
    font-size: 26px;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
  }
}
.header_link:hover {
  opacity: 0.6;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 42px;
  padding: 0 30px;
  color: #fff;
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
@media (max-width: 1023px) {
  .description {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .description {
    padding: 0 16px;
  }
}
.description_title {
  margin: 0;
  margin-top: 101px;
  font-size: 35px;
}
@media (max-width: 767px) {
  .description_title {
    font-size: 28px;
  }
}
.description_text {
  font-size: 35px;
  text-align: center;
  width: 100%;
  max-width: 1177px;
}
@media (max-width: 767px) {
  .description_text {
    font-size: 28px;
  }
}
.description_subTitle {
  margin-top: 40px;
}
@media (max-width: 767px) {
  .description_subTitle {
    font-size: 28px;
    margin-top: 20px;
  }
}

.frames {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 37px;
  width: 100%;
  padding-bottom: 400px;
  padding: 0 30px;
}
@media (max-width: 767px) {
  .frames {
    padding: 0 16px;
  }
}
.frames_bg {
  position: absolute;
  width: 100%;
  z-index: 2;
  height: auto;
  top: 1000px;
}
@media (max-width: 767px) {
  .frames_bg {
    display: none;
  }
}
.frames_head {
  width: 100%;
  max-width: 1131px;
}
@media (max-width: 1439px) {
  .frames_head {
    width: 90%;
    height: auto;
  }
}
.frames_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  margin-top: -80px;
  padding: 0;
  width: 100%;
  max-width: 1609px;
}
.frames_item {
  position: relative;
  z-index: 3;
  width: 100%;
  margin-top: 80px;
  padding: 79px 150px;
  align-items: center;
  border-radius: 50px;
  opacity: 0.8;
  background: linear-gradient(180deg, #b2b2b2 0%, #2d2a4b 100%);
  box-shadow: 0px 3.2px 3.2px 0px rgba(0, 0, 0, 0.1);
  color: #000;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
.frames_item--small {
  padding: 70px 60px;
}
@media (max-width: 1439px) {
  .frames_item {
    padding: 60px 30px;
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .frames_item {
    letter-spacing: 0.5;
    line-height: 1.2;
    border-radius: 20px;
    padding: 40px 20px;
    font-size: 16px;
  }
}
.frames_left, .frames_right {
  display: flex;
  flex-direction: column;
  width: calc(50% - 87px);
}
@media (max-width: 1919px) {
  .frames_left, .frames_right {
    width: calc(50% - 20px);
  }
}
@media (max-width: 767px) {
  .frames_left, .frames_right {
    width: 100%;
  }
}

.team {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
  width: 100%;
  overflow: hidden;
}
.team_title {
  width: 100%;
  max-width: 1509px;
  margin: 0 auto;
  margin-top: 150px;
  color: #fff;
  text-align: left;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0 60px;
}
@media (max-width: 1023px) {
  .team_title {
    margin-top: 70px;
    font-size: 60px;
  }
}
@media (max-width: 767px) {
  .team_title {
    font-size: 40px;
    padding: 0 16px;
  }
}
.team_section {
  width: 100%;
  min-height: 2000px;
  background: #313131;
  margin-top: 120px;
  padding-bottom: 120px;
}
@media (max-width: 1023px) {
  .team_section {
    margin-top: 40px;
    padding-bottom: 0;
  }
}
.team_textWrapper {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1474px;
}
@media (max-width: 1439px) {
  .team_textWrapper {
    padding: 0 60px;
  }
}
@media (max-width: 767px) {
  .team_textWrapper {
    margin-top: 40px;
    padding: 0 16px;
  }
}
.team_description {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 1.6px;
  text-transform: initial;
}
@media (max-width: 767px) {
  .team_description {
    font-size: 25px;
  }
}
.team_link {
  display: flex;
  width: 530px;
  height: 83px;
  padding: 20px 20px;
  align-items: center;
  justify-content: center;
  margin-top: 202px;
  border-radius: 10px;
  border: 1px solid #fff;
  background: #6b3e79;
  transition: 0.3s ease;
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.9px;
  text-transform: initial;
}
@media (max-width: 1850px) {
  .team_link {
    margin-top: 100px;
  }
}
@media (max-width: 1023px) {
  .team_link {
    margin-top: 60px;
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .team_link {
    width: 100%;
    padding: 20px 5px;
    align-items: center;
    justify-content: center;
  }
}
.team_link:hover {
  opacity: 0.6;
}
.team_text {
  margin-top: 60px;
  margin-bottom: 0;
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 1.6px;
}
@media (max-width: 1023px) {
  .team_text {
    font-size: 30px;
    letter-spacing: initial;
  }
}
@media (max-width: 767px) {
  .team_text {
    font-size: 22px;
  }
}
.team_subtitle {
  align-self: center;
  margin-top: 160px;
  margin-bottom: 100px;
  text-align: center;
  color: #fff;
  text-align: center;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .team_subtitle {
    margin-top: 60px;
    font-size: 35px;
  }
}
.team_imgWrapper {
  position: relative;
  left: -1021px;
  top: -117px;
}
@media (max-width: 1850px) {
  .team_imgWrapper {
    left: 0;
    width: 1500px;
    top: 0;
    height: auto;
  }
}
@media (max-width: 1023px) {
  .team_imgWrapper {
    width: 100%;
  }
}
@media (max-width: 1850px) {
  .team_imgBalls {
    width: 1000px;
    height: auto;
  }
}
@media (max-width: 1023px) {
  .team_imgBalls {
    width: 90%;
  }
}
.team_imgRound {
  position: absolute;
  top: 332px;
  left: 100px;
  transform: rotate(29deg);
  animation: roundTeam 3s linear infinite;
}
@media (max-width: 1850px) {
  .team_imgRound {
    top: 100px;
    left: -30%;
    width: 1000px;
    height: auto;
  }
}
@media (max-width: 1023px) {
  .team_imgRound {
    top: 5%;
    width: 90%;
  }
}
@keyframes roundTeam {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.team_imgBlock {
  position: absolute;
  right: -2084px;
  top: -646px;
  animation: blockTeam 3s linear 1s infinite;
}
@media (max-width: 1850px) {
  .team_imgBlock {
    top: -150px;
    right: -5%;
    width: 1000px;
    height: auto;
  }
}
@media (max-width: 1023px) {
  .team_imgBlock {
    top: 5%;
    width: 90%;
  }
}
@keyframes blockTeam {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.team_bottom {
  margin-top: -270px;
}
@media (max-width: 1850px) {
  .team_bottom {
    margin-top: 70px;
  }
}
@media (max-width: 767px) {
  .team_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.roadmap {
  position: relative;
  width: 100%;
  background: #1d1d1f;
  min-height: 3000px;
  padding-bottom: 89px;
}
@media (max-width: 767px) {
  .roadmap {
    min-height: initial;
  }
}
.roadmap_line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 100%;
  background: #74467a;
}
@media (max-width: 767px) {
  .roadmap_line {
    width: 6px;
  }
}
.roadmap_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, max-content);
  row-gap: 200px;
  list-style: none;
  height: 100%;
  padding: 139px 80px;
}
@media (max-width: 1023px) {
  .roadmap_list {
    padding-left: 30px;
    padding-right: 30px;
    row-gap: 100px;
  }
}
@media (max-width: 767px) {
  .roadmap_list {
    padding: 70px 10px;
  }
}
.roadmap_left {
  display: flex;
  justify-content: flex-end;
  padding-right: 120px;
}
@media (max-width: 1023px) {
  .roadmap_left {
    padding-right: 80px;
  }
}
@media (max-width: 767px) {
  .roadmap_left {
    padding-right: 20px;
  }
}
.roadmap_right {
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding-left: 120px;
}
@media (max-width: 1023px) {
  .roadmap_right {
    padding-left: 80px;
  }
}
@media (max-width: 767px) {
  .roadmap_right {
    padding-left: 20px;
  }
}
.roadmap_iconPlus {
  position: absolute;
  top: 0;
  left: -70px;
}
@media (max-width: 767px) {
  .roadmap_iconPlus {
    left: -18px;
    width: 35px;
    height: auto;
  }
}
.roadmap_iconBlock {
  position: absolute;
  top: 0;
  left: -60px;
}
@media (max-width: 767px) {
  .roadmap_iconBlock {
    left: -18px;
    width: 35px;
    height: auto;
  }
}
.roadmap_stage {
  position: relative;
  color: #fff;
  text-align: right;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 75px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
@media (max-width: 1023px) {
  .roadmap_stage {
    font-size: 30px;
    line-height: 1.2;
  }
}
@media (max-width: 767px) {
  .roadmap_stage {
    font-size: 16px;
  }
}
.roadmap_description {
  position: relative;
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 75px;
  text-transform: uppercase;
}
.roadmap_description--left {
  text-align: right;
}
@media (max-width: 1023px) {
  .roadmap_description {
    font-size: 24px;
    line-height: 1.3;
  }
}
@media (max-width: 767px) {
  .roadmap_description {
    font-size: 14px;
  }
}

.footer {
  padding-bottom: 26px;
  width: 100%;
  min-height: 20px;
  background: url("../img/footer-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 1439px) {
  .footer {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 767px) {
  .footer {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.footer_container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 0 30px;
  padding-left: 200px;
  max-width: 1826px;
  justify-content: space-between;
  margin: 0 auto;
}
@media (max-width: 1439px) {
  .footer_container {
    justify-content: space-between;
    gap: 0;
    padding-left: 0;
  }
}
@media (max-width: 1023px) {
  .footer_container {
    padding-right: 0;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
  }
}
.footer_logo {
  position: absolute;
  z-index: 3;
  top: -115px;
  left: 0;
}
@media (max-width: 767px) {
  .footer_logo {
    width: 100px;
    height: auto;
    top: -70px;
  }
}
.footer_title {
  display: block;
  position: relative;
  z-index: 2;
  margin-top: 120px;
  margin-bottom: 0;
  color: #fff;
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
@media (max-width: 1023px) {
  .footer_title {
    display: flex;
  }
}
@media (max-width: 767px) {
  .footer_title {
    font-size: 35px;
    margin-bottom: 0;
  }
}
.footer_description {
  margin-top: -10px;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .footer_description {
    margin-top: 15px;
    font-size: 20px;
    line-height: 1.2;
  }
}
.footer_social {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1023px) {
  .footer_social {
    margin-top: 40px;
    align-self: center;
  }
}
@media (max-width: 767px) {
  .footer_social {
    margin-top: 15px;
  }
}
.footer_socialLabel {
  color: #fff;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.footer_socialList {
  display: flex;
  gap: 30px;
}
.footer_socialItem {
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #9747e7;
  box-shadow: 0px 0px 5px 0px rgba(17, 255, 68, 0.4);
  transition: 0.3s ease;
}
.footer_socialItem:hover {
  opacity: 0.6;
}/*# sourceMappingURL=style.css.map */